<?xml version="1.0"?>

<launch>

   <arg name="gui" default="True"/>
   <arg name="rviz_config" default="$(find ria_description)rviz/urdf_view.rviz"/>
   
   <param name="robot_description" command="$(find xacro)xacro.py '$(find ria_description)/urdf/orbbec_astra.urdf.xacro'" />
   <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
   <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
   <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_config)"/>
</launch>
