<?xml version="1.0"?>

<robot name="RIA-R100-orbbec-rgbd-sensor">
   
   <include filename="$(find ria_description)/urdf/property.urdf.xacro"/>



   <link name="camera_link">
	<visual>
	   <geometry>
	      <mesh filename="package://ria_description/meshes/orbbec_astra.dae" scale="1.0 1.0 1.0"/>
	   </geometry>
           <origin rpy="0 0 0" xyz="0 0 0"/>
	</visual>
	<collision>
	   <geometry>
	      <mesh filename="package://ria_description/meshes/orbbec_astra.dae" scale="1.0 1.0 1.0"/>
	   </geometry>
	</collision>   

   </link>

   <link name="camera_rgb_frame">
	
   </link>

   <link name="camera_rgb_optical_frame">
	
   </link>

   <link name="camera_depth_frame">
	
   </link>

   <link name="camera_depth_optical_frame">
	
   </link>

    <joint name="base_link_to_camera_link" type="fixed">
      <origin xyz="${orbbec_x} ${orbbec_y} ${orbbec_z}" rpy="0 0 0" />      
      <parent link="base_link" />
      <child link="camera_link" />
    </joint>

    <joint name="camera_link_to_camera_rgb_frame" type="fixed">
      <parent link="camera_link" />
      <child link="camera_rgb_frame" />
    </joint>

    <joint name="camera_rgb_frame_to_rgb_optical_frame" type="fixed">
      <origin xyz="0 0 0" rpy="${-M_PI/2} 0 ${-M_PI/2}"/>      
      <parent link="camera_rgb_frame"/>
      <child link="camera_rgb_optical_frame"/>
    </joint>

    <joint name="camera_link_to_camera_depth_frame" type="fixed">
      <origin xyz="${orbbec_depth_x_from_rgb} ${orbbec_depth_x_from_rgb} ${orbbec_depth_x_from_rgb}" rpy="0 0 0"/>      
      <parent link="camera_link"/>
      <child link="camera_depth_frame"/>
    </joint>

    <joint name="camera_depth_to_camera_depth_optical_frame" type="fixed">
      <origin xyz="0 0 0" rpy="${-M_PI/2} 0 ${-M_PI/2}"/>      
      <parent link="camera_depth_frame"/>
      <child link="camera_depth_optical_frame"/>
    </joint>

</robot>




